.block {
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-property: all;
}
.link {
  transition-timing-function: linear;
  transition-duration: 0.5s;
  transition-property: all;
}
