.global-header,
.global-footer {
  background-color: #fff;
}
.global-header .area,
.global-footer .area {
  text-align: center;
}
.global-header:hover,
.global-footer:hover {
  background-color: #000;
}
