.block {
  background-image: url("../images/header-bg.png");
}

@media only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .block {
    background-image: url("../images/header-bg@2x.png");
    background-size: 18px 18px;
  }
}
