/*
 * Before
 */
.button {
  background-color: #ddd;
  color: #000;
}
.button-add {
  background-color: green;
  color: #fff;
}
.button-remove {
  background-color: red;
  color: #fff;
}
/*
 * After
 */
.button {
  background-color: #ddd;
  color: #000;
}
.button-add {
  background-color: green;
  color: #fff;
}
.button-remove {
  background-color: red;
  color: #fff;
}
/*
 * Optimization
 */
.button {
  background-color: #ddd;
  color: #000;
}
.button-add,
.button-remove {
  color: #fff;
}
.button-add {
  background-color: green;
}
.button-remove {
  background-color: red;
}
