/*
 * Before
 */
.item-card {
  background-color: #f5f5f5;
  border-image: url("images/bg-image.png") 30 round round;
}
/*
 * After
 */
.item-card {
  background-color: #f5f5f5;
  border-image: url("images/bg-image.png") 30 round round;
}
.ie7 .item-card {
  border: 1px solid #a31515;
}
/*
 * Attention
 */
.item-card {
  background-color: #f5f5f5;
  border-image: url("images/bg-image.png") 30 round round;
}
.ie7.item-card {
  border: 1px solid #a31515;
}
