.global-header {
  background-color: #f5f5f5;
  color: #443d3d;
  border-bottom: 1px solid #ddd;
}
.global-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
}
.global-header h1 small {
  font-size: 2rem;
}
.global-header .header-actions {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
